# ignore everything
*

# except gitignore and readme
!.gitignore
!README.md

# and relevant dotfiles
# -> terminal config
!alacritty
!alacritty/**/*

# -> editor config
!nvim
!nvim/**/*
nvim/lazy-lock.json

# -> firefox config
!firefox
!firefox/**/*

# -> ideavim config
!.ideavimrc
