# ignore everything
*

# except gitignore and readme
!.gitignore
!README.md

# and setup scripts
!install_mac.sh

# and relevant dotfiles

# -> zsh config
!.zshrc

# -> terminal emulator config
!wezterm
!wezterm/**/*

# -> editor config
!nvim
!nvim/**/*
nvim/lazy-lock.json

# -> firefox config
!firefox
!firefox/**/*

# -> ideavim config
!.ideavimrc

# -> tmux config
!.tmux.conf

# -> aerospace config
!aerospace
!aerospace/**/*

# -> borders config
!borders
!borders/bordersrc

# -> sketchybar config
!sketchybar
!sketchybar/**/*
