set relativenumber number

set ignorecase
set smartcase
set incsearch
set hlsearch

set scrolloff=5
set sidescrolloff=5

let mapleader = " "

nmap gD <Action>(GotoImplementation)
nmap <leader>h <Action>(Back)
nmap <leader>l <Action>(Forward)
nmap <leader><leader> <Action>(SearchEverywhere)

nmap <leader>ff <Action>(ReformatCode)

nmap <leader>rt <Action>(RiderUnitTestRunContextSplitAction)
nmap <leader>dt <Action>(RiderUnitTestDebugContextAction)

nmap <leader>cr <Action>(CollapseRegion)
nmap <leader>er <Action>(ExpandRegion)

""" PLUGINS
Plug 'tpope/vim-commentary' " -> gcc
Plug 'tpope/vim-surround' " -> ds/ys/cs
