set relativenumber number

set ignorecase
set smartcase
set incsearch
set hlsearch

let mapleader = ","

inoremap jk <Esc>

nmap gD <Action>(GotoImplementation)
nmap <leader>h <Action>(Back)
nmap <leader>l <Action>(Forward)

nmap <leader>ff <Action>(ReformatCode)

nmap <leader>rt <Action>(RiderUnitTestRunContextSplitAction)
nmap <leader>dt <Action>(RiderUnitTestDebugContextAction)

nmap <leader>cr <Action>(CollapseRegion)
nmap <leader>er <Action>(ExpandRegion)
