{:deps {io.github.lispyclouds/bblgum {:git/sha "df647fb50f32e05b26e46e58d7249b4798e469e6"}}
 :paths ["src"]
 :tasks {switch            {:doc "Switch Catppuccin flavor across all tools"
                            :requires ([core])
                            :task (core/-main)}
         generate-examples {:doc "Regenerate example theme files for setup"
                            :requires ([core])
                            :task (core/generate-examples!)}
         update-palette    {:doc "Update themes.edn from catppuccin/palette"
                            :requires ([palette])
                            :task (palette/update-themes!)}}}
