#newtab-button-container {
    display: none !important;
}

.actions-list {
    display: none !important;
}

#titlebar {
    display: none !important;
}

#tabbrowser-tabbox {
    border-radius: 8px;
    overflow: hidden;
    margin: 0px 6px 6px 0px !important;
}

#vertical-pinned-tabs-container {
    max-height: none !important;
}
